


.sub-header {
  min-height: 40vh;
  position: relative;
  display: flex;
  align-items: end;

  h1 {
    //font-size: 64px;
  }

  p {
    font-weight: 500;
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .sub-header-content {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
  }

  .sub-header-content-left, {
    width: 70%;
  }

  .sub-header-content-right {
    width: 30%;
  }

  .sub-header-content-img {
    padding: 20px;
  }

  img {
    width: 250px;
    height: 250px;
  }
}


@media (max-width: 800px) {
  .sub-header {
    //min-height: 30vh;
    align-items: center;
    padding-top: 100px;

    h1 {
      font-size: 38px;
    }

      .sub-header-content {
        flex-direction: column;
      }
      .sub-header-content-left {
        width: 100%;
      }
    img {
      width: 50px;
      height: 50px;
    }
    .sub-header-content-img {
      display: none;

    }
  }
}
