/* Nawigacja */
.nawigacja {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  width: 95%;
  max-width: 1400px;
  margin: 10px auto;
  padding: 4px;
  border-radius: 5px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.nawigacja-tytul-marki {
  font-weight: bold;
  font-size: 24px;
  .nawigacja-tytul-marki-link {
    color: var(--accent-color);
  }
}

.nawigacja-lista {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nawigacja-lista-element {
  display: block;
  text-decoration: none;
  color: var(--background-color);
  transition: color 0.3s ease;
  padding: 10px;

  &:hover {
    color: var(--accent-color);
  }
}

.nawigacja-ikona {
  color: var(--background-color);
}

.nawigacja-przycisk {
  display: none;
}

.nawigacja-przycisk-zamknij {
  color: var(--accent-color);
}

@media (max-width: 800px) {
  .nawigacja {
    flex-direction: column;
    align-items: flex-start;
  }

  .nawigacja-tytul-marki {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;

    .nawigacja-ikona {
      margin: 0 10px;
      padding: 0;
    }
  }

  .nawigacja-przycisk {
    display: block;
  }

  .nawigacja-linki {
    display: none;
    width: 100%;
  }

  .nawigacja-lista {
    width: 100%;
    flex-direction: column;
  }

  .nawigacja-lista .nawigacja-lista-element {
    text-align: center;
    padding: 0.5rem 1rem;
  }

  .nawigacja-linki.aktywny {
    display: flex;
    background-color: var(--primary-color);
  }
}
