<nav class="nawigacja">
  <div class="nawigacja-tytul-marki">
    <a class="nawigacja-tytul-marki-link nawigacja-lista-element" routerLink="/">Gwiazdeczka</a>
    <span class="nawigacja-ikona material-symbols-outlined nawigacja-przycisk" (click)="toggleNavbar()" *ngIf="!czyRozwinac">menu</span>
    <span class="nawigacja-ikona material-symbols-outlined  nawigacja-przycisk nawigacja-przycisk-zamknij" (click)="toggleNavbar()" *ngIf="czyRozwinac">close</span>
  </div>

  <div class="nawigacja-linki" [ngClass]="{'aktywny': czyRozwinac}">
    <div class="nawigacja-lista">
      <a class="nawigacja-lista-element" routerLink="/o-nas">O nas</a>
      <a class="nawigacja-lista-element" routerLink="/strefa-rodzica">Strefa rodzica</a>
      <a class="nawigacja-lista-element" routerLink="/dokumenty">Dokumenty</a>
      <a class="nawigacja-lista-element" routerLink="/placowki">Placowki</a>
      <a class="nawigacja-lista-element" routerLink="/kontakt">Kontakt</a>
    </div>
  </div>

  <div class="nawigacja-linki">
    <div class="nawigacja-lista">
      <a class="nawigacja-lista-element" routerLink="/">Dni otwarte</a>
      <a class="nawigacja-lista-element" routerLink="/">Umów wizytę</a>
    </div>
  </div>
</nav>
