//@import "../../../../../styles.scss";
.wiersze {
  display: flex;
  //justify-content: center;
  margin: 0 auto;

  .kolumna-lewa, .kolumna-prawa {
    //padding: 0 20px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .wiersze {
    flex-direction: column;

    .kolumna-lewa, .kolumna-prawa {
      width: 100% !important;
    }
  }

}

////powitanie
.powitanie {
  padding: 50px 0 50px 0;
  background-color: #f9f9f9;

  img {
    width: 250px;
    height: 250px;
  }
  .kolumna-prawa {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .powitanie {
    .powitanie-img {
      display: none;
    }
  }

}

////rozwoj
.rozwoj {
  padding: 50px 0 50px 0;
  background-color: var(--background-color);
  //text-align: center;

  .kolumna-lewa, .kolumna-prawa {
    text-align: left;
  }

  .kolumna-prawa {
    display: flex;
    flex-basis: 45%;
    justify-content: center;
    text-align: left;

    img {
      width: 180px;
      height: 180px;
      transition: transform 0.2s ease;

    }

    .obrazek-kursu {
      padding: 20px;

      img:hover {
        animation: shake 0.5s;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 800px) {
  .rozwoj {
    .kolumna-prawa {
      flex-direction: column;
      text-align: center;
      width: 100%;

      img {
        width: 200px;
        height: 230px;
      }
    }
  }
}

// rekrutacja
.rekrutacja {
  padding: 50px 0 50px 0;
  text-align: center;
  background: var(--background-color);

  .rekrutacja-kontent {
    max-width: 800px;
    margin: 0 auto;
  }
}
