<!-- Header Section -->
<section class="header">
  <div class="text-box">
    <h1>Przedszkole Gwiazdeczka</h1>
    <p>Witamy w Przedszkolu Gwiazdeczka, miejscu, gdzie każdy dzień to nowe przygody i odkrycia dla Twojego dziecka. Nasza misja to zapewnienie bezpiecznego i radosnego otoczenia, które sprzyja rozwojowi i nauce.</p>
    <a href="#" class="btn btn-light">Dowiedz się więcej</a>
  </div>
</section>

<!-- Welcome Section -->
<section class="welcome">
  <div class="container">
    <div class="welcome-content">
      <div class="welcome-left">
        <h1>Witamy w Przedszkolu <br> Gwiazdeczka</h1>
      </div>
      <div class="welcome-right">
        <p>Każde dziecko, które do nas przychodzi, jest dla nas wyjątkowe. Naszym celem jest zapewnienie mu poczucia bezpieczeństwa, tak, by mogło odkrywać nowe doświadczenia i nawiązywać przyjaźnie.</p>
        <p>Moment zaakceptowania przez dziecko nowego otoczenia i pracownika przedszkola to fundament dla jego edukacji i rozwoju. W Gwiazdeczce stawiamy na indywidualne podejście do każdego malucha.</p>
        <a href="#" class="btn btn-light">Zapisz dziecko</a>
      </div>
    </div>
  </div>
</section>


<!-- Course Section -->
<section class="course">
  <div class="container">
    <h1>Nasze Programy Edukacyjne</h1>
    <p>W Przedszkolu Gwiazdeczka oferujemy różnorodne zajęcia, które wspierają rozwój emocjonalny i społeczny dzieci.</p>
    <div class="row">
      <div class="course-col">
        <span class="icon material-symbols-outlined">brush</span>
        <h3>Program Artystyczny</h3>
        <p>Zajęcia artystyczne pobudzają wyobraźnię dzieci, rozwijają zdolności manualne i uczą ekspresji poprzez sztukę.</p>
      </div>
      <div class="course-col">
        <span class="icon material-symbols-outlined">eco</span>
        <h3>Program Przyrodniczy</h3>
        <p>Zajęcia rozwijają ciekawość świata przyrody, ucząc dzieci o zwierzętach i roślinach w zabawny sposób.</p>
      </div>
      <div class="course-col">
        <span class="icon material-symbols-outlined">directions_run</span>
        <h3>Program Ruchowy</h3>
        <p>Zajęcia ruchowe pomagają w rozwoju motoryki, uczą pracy w grupie oraz wzmacniają zdrowe nawyki.</p>
      </div>
    </div>
    <div class="row">
      <div class="course-col">
        <span class="icon material-symbols-outlined">music_note</span>
        <h3>Program Muzyczny</h3>
        <p>Zajęcia muzyczne rozwijają zdolności wokalne, rytmiczne i uczą współpracy w grupie.</p>
      </div>
      <div class="course-col">
        <span class="icon material-symbols-outlined">language</span>
        <h3>Program Językowy</h3>
        <p>Wprowadzamy dzieci w świat języków obcych poprzez zabawę i interakcje, co rozwija ich umiejętności komunikacyjne.</p>
      </div>
      <div class="course-col">
        <span class="icon material-symbols-outlined">fastfood</span>
        <h3>Program Kulinarny</h3>
        <p>Zajęcia kulinarne uczą podstaw gotowania, zdrowego odżywiania oraz pracy zespołowej.</p>
      </div>
    </div>
  </div>
</section>

<!-- Our Locations Section -->
<section class="locations">
  <div class="container">
    <h1>Nasze Placówki</h1>
    <p>Przedszkole Gwiazdeczka to sieć przyjaznych i inspirujących miejsc, gdzie dzieci mogą rozwijać swoje talenty. Każda placówka oferuje wyjątkowe programy edukacyjne oraz pełne zaangażowanie w rozwój emocjonalny i społeczny maluchów. Oto nasze lokalizacje:</p>
    <div class="row">
      <div class="location-col">
        <span class="icon material-symbols-outlined">place</span>
        <h3>Placówka Centrum</h3>
        <p>Nasza główna placówka, znajdująca się w sercu miasta, oferuje bogaty program zajęć oraz doskonałe warunki do nauki.</p>
        <p><strong>Adres:</strong> ul. Główna 1, 00-001 Miasto</p>
      </div>
      <div class="location-col">
        <span class="icon material-symbols-outlined">place</span>
        <h3>Placówka Wschodnia</h3>
        <p>Placówka wschodnia to spokojne miejsce otoczone zielenią, idealne dla dzieci ceniących sobie bliskość natury.</p>
        <p><strong>Adres:</strong> ul. Wschodnia 15, 00-002 Miasto</p>
      </div>
      <div class="location-col">
        <span class="icon material-symbols-outlined">place</span>
        <h3>Placówka Zachodnia</h3>
        <p>Znajdująca się w dynamicznie rozwijającej się dzielnicy, ta placówka oferuje nowoczesne zaplecze edukacyjne.</p>
        <p><strong>Adres:</strong> ul. Zachodnia 22, 00-003 Miasto</p>
      </div>
    </div>
    <a href="#" class="btn btn-light">Zobacz więcej</a>
  </div>
</section>

<!-- Recruitment Section -->
<section class="recruitment">
  <div class="container">
    <h1>Rekrutacja</h1>
    <div class="recruitment-content">
      <h2>Zapisy na rok szkolny 2023 / 2024</h2>
      <p>Zapraszamy do Przedszkola Gwiazdeczka dzieci w wieku od 2,5 do 5 lat, w tym dzieci ze specjalnymi potrzebami edukacyjnymi. Oferujemy przyjazne, bezpieczne i inspirujące środowisko, w którym każde dziecko może rozwijać swoje talenty.</p>
      <a href="#" class="btn btn-dark">Zapisz dziecko</a>
    </div>
  </div>
</section>
