// Variables for color palette
$primary-color: #0A303A;
$accent-color: #f1c40f;
$text-color: #333;
$background-color: #fff;
$highlight-color: #f39c12;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover-color: rgba(0, 0, 0, 0.2);

// Container setup
.container {
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;

  &-light {
    background-color: $primary-color;
    color: $background-color;

    &:hover {
      background-color: $accent-color;
      color: $primary-color;
      transform: translateY(-2px);
    }
  }

  &-dark {
    background-color: $background-color;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $background-color;
    }
  }
}

// Icon styles
.icon {
  font-size: 40px;
  color: $highlight-color;
  margin-bottom: 10px;
}

h1 {
  font-size: 42px;
  color: $primary-color;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: $text-color;
  margin: 20px auto;
  line-height: 1.6;
}

@media (max-width: 800px) {
  h1 {
    font-size: 36px;
    color: $primary-color;
  }

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    color: $text-color;
    margin: 20px auto;
    line-height: 1.6;
  }
}

.header {
  min-height: 80vh;
  background: url("/assets/banner.png") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .text-box {
    text-align: center;
    color: $background-color;
    margin: auto;
    width: 70%;

    h1 {
      color: $accent-color;
    }

    p {
      margin: 10px auto 40px;
      color: $background-color;
    }
  }
}

// Welcome section
.welcome {
  padding: 60px 0;
  background: $background-color;

  .welcome-content {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  .welcome-left, .welcome-right {
    padding: 0 20px;
    width: 50%;
  }

  .welcome-right {
    width: 50%;
  }
}

@media (max-width: 800px) {
  .welcome {

    .welcome-content {
      flex-direction: column;
    }

    .welcome-left, .welcome-right {
      width: 100%;
    }
  }
}

// Course section
.course {
  padding: 60px 0;
  text-align: center;
  background-color: #fff;

  p {
    max-width: 600px;
  }

  .row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  .description-col {
    flex-direction: column;
    text-align: left;
  }

  .course-col {
    flex-basis: 45%;
    display: flex;
    justify-content: center;
    text-align: left;


    h3 {
      font-size: 22px;
      color: $primary-color;
      margin-bottom: 20px;
    }

    img {
      width: 180px;
      height: 180px;
      transition: transform 0.3s ease;
    }

    .course-img {
      padding: 20px;

      &:hover {
        transform: scale(1.1); // Powiększenie ikony przy najechaniu
      }
    }
  }
}

@media (max-width: 800px) {
  .course {

    .course-col {
      text-align: center;

      flex-direction: column;

      img {
        width: 280px;
        height: 280px;
      }
    }
  }
}


.locations {
  padding: 60px 0;
  text-align: center;
  //background: $background-color;

  h1 {
    color: $accent-color;
  }

  .location-col {
    flex-basis: 30%;
    background-color: $background-color;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 10px $shadow-color;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px $shadow-hover-color;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

// Recruitment section
.recruitment {
  padding: 60px 0;
  text-align: center;
  background: $background-color;

  .recruitment-content {
    max-width: 800px;
    margin: 0 auto;

  }
}

@media (max-width: 800px) {
  .location-col, .course-col {
    flex-basis: 100% !important;
  }
}

.karta-sekcja {
  padding: 20px 0;
  //background-color: #f7f7f7;
  display: flex;
  flex-direction: row;

  .karta {
    width: 700px;
    background-color: $background-color;
    border-radius: 20px 0 20px 0;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Lekkie, eleganckie cieniowanie */
    position: relative;
    overflow: hidden;


    h1 {
      color: $accent-color
    }

    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        font-size: 1.1rem;
        line-height: 1.6;
        padding: 10px 0;
        border-bottom: 1px solid #ececec;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
@media (max-width: 800px) {
  .location-col, .course-col {
    flex-basis: 100% !important;
  }
}
