<!-- Header Section -->
<app-header></app-header>

<section class="welcome">
  <div class="container">
    <div class="welcome-content">
      <div class="welcome-left">
        <h1>Witamy w Przedszkolu Gwiazdeczka</h1>
      </div>
      <div class="welcome-right">
        <p>Każde dziecko, które do nas przychodzi, jest dla nas wyjątkowe. Naszym celem jest zapewnienie mu poczucia
          bezpieczeństwa, tak, by mogło odkrywać nowe doświadczenia i nawiązywać przyjaźnie.</p>
        <p>Moment zaakceptowania przez dziecko nowego otoczenia i pracownika przedszkola to fundament dla jego edukacji
          i rozwoju. W Gwiazdeczce stawiamy na indywidualne podejście do każdego malucha.</p>
        <a class="btn btn-light" href="#">Wiecej informacji o nas</a>
      </div>
    </div>
  </div>
</section>


<section class="karta-sekcja" style="padding-top: 110px">
  <div class="container">
    <div class="card-container">
      <div class="float-layout">
        <div class="card-image card-image-left">
          <img src="assets/zabawa.jpg">
          <div class="card">
            <h1>Dlaczego my?</h1>
            <ul>
              <li>12 lat doświadczenia w prowadzeniu żłobka i przedszkola na najwyższym poziomie</li>
              <li>Indywidualne podejście do każdego dziecka, małe grupy (10-15 dzieci), opiekowane przez
                wykwalifikowanych
                nauczycieli i opiekunów
              </li>
              <li>Trzy nowoczesne placówki: ul. Lipińska 11, ul. Skalbmierska 8A oraz ul. Nocznickiego 29B</li>
              <li>Opieka specjalistyczna: nauczyciel wychowania przedszkolnego, psycholog, logopeda, pedagog specjalny,
                terapeuta integracji sensorycznej oraz nauczyciel muzyki
              </li>
              <li>Spokojna i bezpieczna lokalizacja blisko terenów zielonych</li>
              <li>Godziny otwarcia: 7:30 – 17:30, od poniedziałku do piątku</li>
              <li>Zajęcia z języka angielskiego (3 razy w tygodniu) już od najmłodszych grup</li>
              <li>Aktywności muzyczno-rytmiczne i taneczne (3 razy w tygodniu)</li>
              <li>Logopedia: ćwiczenia buzi i języka oraz profilaktyka mowy (2 razy w tygodniu)</li>
              <li>Wsparcie psychologa: rozwijanie umiejętności społecznych, budowanie poczucia wartości i radzenie sobie
                z
                emocjami (raz w tygodniu)
              </li>
              <li>Zajęcia z języka angielskiego (3 razy w tygodniu) już od najmłodszych grup</li>
              <li>Aktywności muzyczno-rytmiczne i taneczne (3 razy w tygodniu)</li>
              <li>Logopedia: ćwiczenia buzi i języka oraz profilaktyka mowy (2 razy w tygodniu)</li>
              <li>Wsparcie psychologa: rozwijanie umiejętności społecznych, budowanie poczucia wartości i radzenie sobie
                z
                emocjami (raz w tygodniu)
              </li>
            </ul>
            <a class="btn btn-light" href="#">Więcej informacji o nas</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="karta-sekcja">
  <div class="container">
    <div class="card-container">
      <div class="float-layout">
        <div class="card-image card-image-right">
          <div class="card">
            <h1>Kadra Pedagogiczna</h1>
            <p>Nasze przedszkole i żłobek "Gwiazdeczka" w Warszawie tworzy zespół doświadczonych, kreatywnych oraz
              pełnych
              ciepła nauczycieli i specjalistów, dbających o wszechstronny rozwój dzieci. Nasi wychowawcy:</p>
            <ul>
              <li>nawiązują wyjątkowy kontakt z każdym dzieckiem, budując relacje oparte na zaufaniu</li>
              <li>dostrzegają indywidualne potrzeby i talenty dzieci, wspierając ich rozwój</li>
              <li>stosują nowoczesne metody wychowawcze i edukacyjne, które gwarantują skuteczną naukę i rozwój
                emocjonalny
              </li>
            </ul>
            <p>Placówka "Gwiazdeczka" zapewnia dzieciom bezpieczne i przyjazne środowisko do nauki, zabawy i odkrywania
              świata. Nasi nauczyciele wspierają dzieci w rozwijaniu ich unikalnych umiejętności oraz uczą
              samodzielności,
              zawsze doceniając ich osiągnięcia.</p>
            <a class="btn btn-light" href="#">Więcej informacji o nauczycielach</a>
          </div>
          <img src="assets/kadra.jpg">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="course">
  <div class="container">
    <h1>Rozwoj dziecka</h1>
    <div class="welcome-content">
      <div class="description-col">
        <h2>Programy Edukacyjne</h2>
        <p>W Przedszkolu Gwiazdeczka staramy się zapewnić naszym podopiecznym wszechstronny rozwój emocjonalny, fizyczny
          i intelektualny. Nasze programy edukacyjne są dostosowane do indywidualnych potrzeb dzieci, pomagając im
          odkrywać świat poprzez zabawę i naukę. Dbamy o to, by każde dziecko mogło rozwijać swoje zainteresowania i
          talenty, jednocześnie budując pewność siebie i umiejętności społeczne.<br> <br>
          Każdy dzień w naszym przedszkolu wypełniony jest radością, nauką i zabawą. Programy, które oferujemy, mają na
          celu wspieranie harmonijnego rozwoju dzieci, kładąc nacisk na kreatywność, zdrowie i współpracę. Nasz
          doświadczony personel dba o to, by każde dziecko czuło się wyjątkowe i ważne.</p>
        <a class="btn btn-dark" href="#">Szczegoly Programu Dydaktycznego</a>
      </div>

      <div class="course-col icons-col">
        <div class="course-row">
          <div class="course-img">
            <img alt="ogrod" class="ogrod" src="/assets/ogrod.svg">
            <h3>Ogród i odpoczynek</h3>
          </div>
          <div class="course-img">
            <img alt="muzyka" class="ogrod" src="/assets/muzyka.svg">
            <h3>Program Artystyczny</h3>
          </div>
          <div class="course-img">
            <img alt="gimnastyka" class="ogrod" src="/assets/gimnastyka.svg">
            <h3>Program Ruchowy</h3>
          </div>
        </div>

        <div class="course-row">
          <div class="course-img">
            <img alt="terapia" class="ogrod" src="/assets/terapia.svg">
            <h3>Terapia</h3>
          </div>
          <div class="course-img">
            <img alt="angielski" class="ogrod" src="/assets/angielski.svg">
            <h3>Program Językowy</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-placowki></app-placowki>

<section class="recruitment">
  <div class="container">
    <h1>Rekrutacja</h1>
    <div class="recruitment-content">
      <h2>Zapisy na rok szkolny 2023 / 2024</h2>
      <p>Zapraszamy do Przedszkola Gwiazdeczka dzieci w wieku od 2,5 do 5 lat, w tym dzieci ze specjalnymi potrzebami
        edukacyjnymi. Oferujemy przyjazne, bezpieczne i inspirujące środowisko, w którym każde dziecko może rozwijać
        swoje talenty.</p>
      <a class="btn btn-dark" href="#">Zapisz dziecko</a>
    </div>
  </div>
</section>

