<!-- Header Section -->
<app-header></app-header>

<section class="powitanie">
  <div class="container">
    <div class="wiersze">
      <div class="kolumna-lewa">
        <h1>Witamy w Przedszkolu Gwiazdeczka</h1>
      </div>
      <div class="kolumna-prawa">
        <p>Każde dziecko, które do nas przychodzi, jest dla nas wyjątkowe. Naszym celem jest zapewnienie mu poczucia
          bezpieczeństwa, tak, by mogło odkrywać nowe doświadczenia i nawiązywać przyjaźnie.</p>
        <p>Moment zaakceptowania przez dziecko nowego otoczenia i pracownika przedszkola to fundament dla jego edukacji
          i rozwoju. W Gwiazdeczce stawiamy na indywidualne podejście do każdego malucha.</p>
        <a class="btn btn-light" href="/o-nas">Więcej informacji o nas</a>
      </div>
    </div>
  </div>
</section>


<app-karta-informacyjna
  [title]="'Dlaczego My?'"
  [contentList]="dlaczegoMy"
  [description]="'Posiadamy wieloletnie doświadczenie w opiece nad dziećmi.'"
  [buttonText]="'Więcej informacji o nas'"
  [imageUrl]="'assets/zabawa.jpg'"
  [zdjeciePoLewej]=true
  [czyPrzycisk]=true
>
</app-karta-informacyjna>

<app-karta-informacyjna
  [title]="'Kadra Pedagogiczna'"
  [contentList]="kadraPedagogiczna"
  [description]="'Nasi nauczyciele wspierają rozwój dzieci w każdym aspekcie.'"
  [buttonText]="'Więcej informacji o nauczycielach'"
  [imageUrl]="'assets/kadra.jpg'"
  [zdjeciePoPrawej]=true>
</app-karta-informacyjna>


<section class="rozwoj">
  <div class="container">
    <h1>Rozwój dziecka</h1>
    <div class="wiersze">
      <div class="kolumna-lewa">
        <h2>Programy Edukacyjne</h2>
        <p>W Przedszkolu Gwiazdeczka staramy się zapewnić naszym podopiecznym wszechstronny rozwój emocjonalny, fizyczny
          i intelektualny. Nasze programy edukacyjne są dostosowane do indywidualnych potrzeb dzieci, pomagając im
          odkrywać świat poprzez zabawę i naukę. Dbamy o to, by każde dziecko mogło rozwijać swoje zainteresowania i
          talenty, jednocześnie budując pewność siebie i umiejętności społeczne.</p>
        <p>Każdy dzień w naszym przedszkolu wypełniony jest radością, nauką i zabawą. Programy, które oferujemy, mają na
          celu wspieranie harmonijnego rozwoju dzieci, kładąc nacisk na kreatywność, zdrowie i współpracę. Nasz
          doświadczony personel dba o to, by każde dziecko czuło się wyjątkowe i ważne.</p>
        <a class="btn btn-dark" href="#">Szczegóły Programu Dydaktycznego</a>
      </div>

      <div class="kolumna-prawa">
        <div class="wiersz-kursu">
          <div class="obrazek-kursu">
            <img alt="ogród" src="/assets/ogrod.svg">
            <h3>Ogród i odpoczynek</h3>
          </div>
          <div class="obrazek-kursu">
            <img alt="muzyka" src="/assets/muzyka.svg">
            <h3>Program Artystyczny</h3>
          </div>
          <div class="obrazek-kursu">
            <img alt="gimnastyka" src="/assets/gimnastyka.svg">
            <h3>Program Ruchowy</h3>
          </div>
        </div>

        <div class="wiersz-kursu">
          <div class="obrazek-kursu">
            <img alt="terapia" src="/assets/terapia.svg">
            <h3>Terapia</h3>
          </div>
          <div class="obrazek-kursu">
            <img alt="angielski" src="/assets/angielski.svg">
            <h3>Program Językowy</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-placowki></app-placowki>

<section class="rekrutacja">
  <div class="container">
    <h1>Rekrutacja</h1>
    <div class="rekrutacja-kontent">
      <h2>Zapisy na rok szkolny 2023 / 2024</h2>
      <p>Zapraszamy do Przedszkola Gwiazdeczka dzieci w wieku od 2,5 do 5 lat, w tym dzieci ze specjalnymi potrzebami
        edukacyjnymi. Oferujemy przyjazne, bezpieczne i inspirujące środowisko, w którym każde dziecko może rozwijać
        swoje talenty.</p>
      <a class="btn btn-dark" href="#">Zapisz dziecko</a>
    </div>
  </div>
</section>

