<section *ngIf="placowka">

  <app-sub-header [header]=placowka.nazwa
                  [tekst]=placowka.opis></app-sub-header>
</section>
<section class="szczegoly-placowki">
  <div class="container">
    <div class="szczegoly-placowki-kontent">
      <h2>{{ placowka.nazwa }} - {{ placowka.adres }}</h2>
      <div class="wiersze">
        <div class="kolumna-lewa">
          <iframe
            allowfullscreen=""
            height="750"
            loading="lazy"
            src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2512.740800328914!2d22.16237091332707!3d50.96549637157707!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722e97d3ff71fab%3A0xe4c7d4bcef78afc4!2zWmVzcMOzxYIgUHJ6ZWRzemtvbGkgaSDFu8WCb2Jrw7N3IEdXSUFaREVDWktB!5e0!3m2!1spl!2spl!4v1728577773133!5m2!1spl!2spl'
            style="border:0;"
            title="Lokalizacja {{ placowka.nazwa }}"
            width="100%">
          </iframe>
        </div>
        <div class="kolumna-prawa">
          <div class="kolumna-prawa-wiersz">
            <span class="icon material-symbols-outlined">phone</span>
            <h3>Telefon:</h3>
            <h3> +48 509 58 22 11</h3>
          </div>
          <div class="kolumna-prawa-wiersz">
            <span class="icon material-symbols-outlined">email</span>
            <h3>Email:</h3>
            <h3>przedszkole.kontakt@gwiazdeczka.pl</h3>
          </div>
          <div class="kolumna-prawa-wiersz">
            <span class="icon material-symbols-outlined">place</span>
            <h3>Adres:</h3>
            <h3>{{ placowka.adres }}</h3>
          </div>
          <div class="kolumna-prawa-wiersz">
            <span class="icon material-symbols-outlined">schedule</span>
            <h3>Godziny otwarcia:</h3>
            <h3>{{ placowka.godzinyOtwarcia }}</h3>
          </div>
        </div>
      </div>
      <div class="wiersze">
        <div class="kolumna-lewa">
        </div>
        <p>Jeżeli mają Państwo pytania dotyczące naszej pracy, zapraszamy do kontaktu telefonicznego lub mailowego.</p>
      </div>
    </div>
  </div>
</section>

<section class="organizacja">
  <div class="container">
      <h1>{{ placowka.nazwa }}</h1>
      <p>{{ placowka.opisPelny }}</p>
      <h3>Dlaczego warto wybrać?</h3>
      <p>{{ placowka.dlaczegoWarto }}</p>
  </div>
</section>

<section class="organizacja">
  <div class="container">
    <h1>{{ lokal.tytul }}</h1>
    <p *ngFor="let item of lokal.opis">{{ item }}</p>
  </div>
</section>

<section class="organizacja">
  <div class="container">
    <h1>{{ organizacja.tytul }}</h1>
    <p>{{ organizacja.godzinyOtwarcia }}</p>
    <p>{{ organizacja.opis }}</p>
  </div>
</section>

<section class="organizacja">
  <div class="container">
    <h1>{{ grupy.tytul }}</h1>
    <p>{{ grupy.opis }}</p>
    <ul>
      <li *ngFor="let grupa of grupy.grupyList">{{ grupa }}</li>
    </ul>
  </div>
</section>
