// Variables for color palette



.wiersze {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .kolumna-lewa, .kolumna-prawa {
    min-width: 50%;
  }
}

@media (max-width: 800px) {
  .wiersze {
    flex-direction: column;

    .kolumna-lewa, .kolumna-prawa {
      width: 100% !important;
    }
  }
}


.szczegoly-placowki {
  padding: 60px 0;
  background-color: var(--background-color);

  .szczegoly-placowki-kontent {
    text-align: center;

  }

  .kolumna-prawa {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


@media (max-width: 800px) {
  .wiersze {
    flex-direction: column;

    .kolumna-lewa, .kolumna-prawa {
      width: 100% !important;

      img {
        width: 300px;
        height: 200px;
      }
    }
  }
}

.organizacja {
  margin-top:60px;
}
