// Variables for color palette



.placowka {
  padding: 60px 0;
  text-align: center;

  .placowka-wiersze {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .placowka-wiersze-kolumna {
    flex-basis: 30%;
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 10px var(--shadow-color);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px var(--shadow-hover-color);
    }

  }
}

@media (max-width: 800px) {
  .placowka-wiersze-kolumna, .course-col {
    flex-basis: 100% !important;
  }
}
