// Variables for color palette
$primary-color: #0A303A;
$accent-color: #f1c40f;
$text-color: #333;
$background-color: #fff;
$highlight-color: #f39c12;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover-color: rgba(0, 0, 0, 0.2);

.locations {
  padding: 60px 0;
  text-align: center;

  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h1 {
    color: $accent-color;
  }

  .location-col {
    flex-basis: 30%;
    background-color: $background-color;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 10px $shadow-color;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 20px $shadow-hover-color;
      cursor: pointer;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}

@media (max-width: 800px) {
  .location-col, .course-col {
    flex-basis: 100% !important;
  }
}
