<app-sub-header header="O nas"
                tekst="Poznaj nas"></app-sub-header>

<section class="o-nas">
  <div class="container">
    <div class="wiersze">
      <div class="kolumna-lewa">
        <h1>Co oferujemy?</h1>
        <p>Do współpracy zapraszamy Rodziców szukających przyjaznego otoczenia dla Swoich Dzieci. Zapewniamy Dzieciom
          prawidłowy rozwój poprzez organizację zabaw przy muzyce, zajęć plastycznych, czy gimnastyki korekcyjnej.
          Poprzez zabawę uczymy dzieci podstaw języka angielskiego oraz rozwijamy dziecięcą wyobraźnię, czytając bajki.
          Nasze Przedszkole jest placówką ukierunkowaną na pomoc dzieciom ze specjalnymi potrzebami edukacyjnymi.
          Przyjmujemy dzieci posiadające orzeczenie o potrzebie kształcenia specjalnego. Obejmujemy opieką terapeutyczną
          Przedszkolaki z diagnozą: sprzężonej niepełnosprawności, zaburzeń ze spektrum autyzmu, zaburzeń
          rozwojowych.</p>
      </div>
      <div class="kolumna-prawa">
        <img alt="oferujemy" class="oferujemy" src="/assets/co-oferujemy.jpg">
      </div>
    </div>
  </div>
</section>

<section class="o-nas">
  <div class="container">
    <div class="wiersze">
      <div class="kolumna-prawa">
        <img alt="podejscie" class="podejscie" src="/assets/podejscie.jpg">
      </div>
      <div class="kolumna-lewa" style="text-align: right">
        <h1>Indywidualne podejście</h1>
        <p>Naszym priorytetem jest dostosowanie form i metod pracy do indywidualnych potrzeb każdego dziecka. Na
          podstawie diagnozy funkcjonalnej tworzymy indywidualny program edukacyjno-terapeutyczny.

          W ramach realizacji kształcenia specjalnego zapewniamy terapie indywidualne, takie jak: terapia zaburzeń
          integracji sensorycznej, terapia ręki, terapia logopedyczna i neurologopedyczna, terapia pedagogiczna,
          muzykoterapia, bajkoterapia, terapia psychologiczna, dogoterapia, felinoterapia, sensoplastyka, arteterapia a
          także tlenoterapia oraz terapia światłem i dźwiękiem.terapia a także tlenoterapia oraz terapia światłem i
          dźwiękiem.</p>
      </div>
    </div>
  </div>
</section>
<section class="o-nas">
  <div class="container">
    <div class="wiersze">
      <div class="kolumna-lewa">
        <h1>Nasz program</h1>
        <p>Zapraszamy do spędzenia radosnych chwil w miejscu stworzonym z myślą o naszych pociechach, aby zapewnić im
          wspaniałą zabawę. Wszystko to pod czujnym okiem profesjonalnej kadry opiekunów oraz specjalnie przygotowanych
          salach z mnóstwem atrakcji. Dzieci uczą się też codziennych, niezbędnych czynności, jak: mycia zębów, higieny
          osobistej i samoobsługi. Panie uczą również samodzielności i poszanowania praw innych, a wszystko w przyjaznej
          dzieciom atmosferze i w oparciu o przemyślany program edukacyjno-wychowawczy.</p>
      </div>
      <div class="kolumna-prawa">
        <img alt="program" class="program" src="/assets/program.jpg">
      </div>
    </div>
  </div>
</section>

<section class="recruitment">
  <div class="container">
    <h1>Miejsca zabaw
    </h1>
    <div class="recruitment-content">
      <div class="kolumna-prawa">
        <img alt="program" class="program" src="/assets/plac1.jpg">
      </div>
      <div class="kolumna-prawa">
        <img alt="plac2" class="plac2" src="/assets/plac2.jpg">
      </div>
      <div class="kolumna-prawa">
        <img alt="plac3" class="plac3" src="/assets/plac3.jpg">
      </div>
    </div>
   <p>Sale edukacyjne oraz sale zabaw zostały przystosowane oraz wyposażone pod kątem bezpieczeństwa i specjalnych potrzeb edukacyjnych dla naszych przedszkolaków.</p>

  </div>
</section>
