$primary-color: #0A303A;
 $accent-color: #f7b948;
$background-color: #fff;
$highlight-color: #f39c12;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover-color: rgba(0, 0, 0, 0.2);


.wiersze {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .kolumna-lewa, .kolumna-prawa {
    padding: 0 20px;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .wiersze {
    flex-direction: column;

    .kolumna-lewa, .kolumna-prawa {
      width: 100% !important;
    }
  }

}

// Welcome section
.o-nas {
  padding: 60px 0;
  background: $background-color;

  .kolumna-prawa {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      max-width: 650px;
      border-radius: 10px;
    }
  }
}

// o nas zabawa
.o-nas-zabawa {
  padding: 60px 0;
  text-align: center;

  .o-nas-zabawa-kontent {
    margin: 0 auto;
    display: flex;

    .o-nas-zabawa-box-na-zdjecie {
      width: 50%;
      display: flex;
      align-items: center;
      margin: 60px 20px;

      img {
        width: 100%;
        max-width: 650px;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .o-nas-zabawa {

    .o-nas-zabawa-kontent {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .o-nas-zabawa-box-na-zdjecie {
        width: 80%;
        margin: 10px 0;

        img {
          width: 100%;
          max-width: 650px;
          border-radius: 10px;
        }
      }
    }
  }
}
