<section class="karta-sekcja" *ngIf="zdjeciePoLewej">
  <div class="container">
    <div class="karta-kontent">
      <div class="float-layout">
        <div class="karta-obrazek card-image-left">
          <img [src]="imageUrl" alt="Obrazek sekcji">
          <div class="karta">
            <h1>{{ title }}</h1>
            <ul>
              <li *ngFor="let item of contentList">{{ item }}</li>
            </ul>
            <p *ngIf="description">{{ description }}</p>
            <a *ngIf="czyPrzycisk"  class="btn btn-light" routerLink="/">{{ buttonText }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="karta-sekcja" *ngIf="zdjeciePoPrawej">
  <div class="container">
    <div class="karta-kontent ">
      <div class="float-layout">
        <div class="karta-obrazek card-image-right">
          <div class="karta">
            <h1>{{ title }}</h1>
            <ul>
              <li *ngFor="let item of contentList">{{ item }}</li>
            </ul>
            <p *ngIf="description">{{ description }}</p>
            <a *ngIf="czyPrzycisk"  class="btn btn-light" routerLink="/">{{ buttonText }}</a>
          </div>
          <img [src]="imageUrl" alt="Obrazek sekcji">
        </div>
      </div>
    </div>
  </div>
</section>
