


.dokumenty {
  padding: 60px 0;
  background-color: var(--background-color);

  .dokumenty-kontent {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);

    .dokumenty-kontent-wiersz {
      display: flex;
      align-items: center;
      margin: 10px 0;
      cursor: pointer;
    }
  }
}
