<app-sub-header header="Dokumenty do pobrania"
                tekst="Pobierz potrzebne dokumenty"></app-sub-header>

<section class="dokumenty">
  <div class="container">
    <div class="dokumenty-details">
      <div class="dokumenty-details-column">
        <span class="icon material-symbols-outlined">description</span>
        <span>Informator przedszkolaka</span>
      </div>
      <div class="dokumenty-details-column">
        <span class="icon material-symbols-outlined">description</span>
        <span>Karta zgloszen przedszkole</span>
      </div>
      <div class="dokumenty-details-column">
        <span class="icon material-symbols-outlined">description</span>
        <span> Karta zgloszen złobek</span>
      </div>
    </div>
  </div>
</section>
