$primary-color: #0A303A;
 $accent-color: #f7b948;
$background-color: #fff;
$highlight-color: #f39c12;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover-color: rgba(0, 0, 0, 0.2);

.dokumenty {
  padding: 60px 0;
  background-color: $background-color;

  .dokumenty-kontent {
    display: flex;
    flex-direction: column;
    color: $primary-color;

    .dokumenty-kontent-wiersz {
      display: flex;
      align-items: center;
      margin: 10px 0;
      cursor: pointer;
    }
  }
}
