<section class="footer">
  <div class="footer-row">
    <div class="footer-col">
      <h4>O nas</h4>
      <ul class="links">
        <li><a href="#">Nasza misja</a></li>
        <li><a href="#">Zespół</a></li>
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Galeria</a></li>
        <li><a href="#">Godziny otwarcia</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Dla Rodziców</h4>
      <ul class="links">
        <li><a href="#">Rekrutacja</a></li>
        <li><a href="#">Opłaty</a></li>
        <li><a href="#">Harmonogram dnia</a></li>
        <li><a href="#">Kalendarz wydarzeń</a></li>
        <li><a href="#">Programy edukacyjne</a></li>
        <li><a href="#">Rodzinna współpraca</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Informacje prawne</h4>
      <ul class="links">
        <li><a href="#">Regulamin</a></li>
        <li><a href="#">Polityka prywatności</a></li>
        <li><a href="#">Polityka RODO</a></li>
        <li><a href="#">Bezpieczeństwo dzieci</a></li>
        <li><a href="#">Zgody rodzicielskie</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Newsletter</h4>
      <p>
        Zapisz się do naszego newslettera, aby otrzymywać informacje o wydarzeniach, nowościach oraz praktyczne porady dotyczące rozwoju dziecka.
      </p>

      <div class="icons">
        <span class="material-symbols-outlined">face</span>
        <span class="material-symbols-outlined">photo_camera</span>
        <span class="material-symbols-outlined">music_note</span>
        <span class="material-symbols-outlined">play_circle</span>
      </div>
    </div>
  </div>
</section>
