<section class="footer">
  <div class="footer-row">
    <div class="footer-col">
      <h4>O nas</h4>
      <ul class="links">
        <li><a routerLink="/">Nasza misja</a></li>
        <li><a routerLink="/">Zespół</a></li>
        <li><a routerLink="/">Kontakt</a></li>
        <li><a routerLink="/">Galeria</a></li>
        <li><a routerLink="/">Godziny otwarcia</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Dla Rodziców</h4>
      <ul class="links">
        <li><a routerLink="/">Rekrutacja</a></li>
        <li><a routerLink="/">Opłaty</a></li>
        <li><a routerLink="/">Harmonogram dnia</a></li>
        <li><a routerLink="/">Kalendarz wydarzeń</a></li>
        <li><a routerLink="/">Programy edukacyjne</a></li>
        <li><a routerLink="/">Rodzinna współpraca</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Informacje prawne</h4>
      <ul class="links">
        <li><a routerLink="/">Regulamin</a></li>
        <li><a routerLink="/">Polityka prywatności</a></li>
        <li><a routerLink="/">Polityka RODO</a></li>
        <li><a routerLink="/">Bezpieczeństwo dzieci</a></li>
        <li><a routerLink="/">Zgody rodzicielskie</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>Newsletter</h4>
      <p>
        Zapisz się do naszego newslettera, aby otrzymywać informacje o wydarzeniach, nowościach oraz praktyczne porady dotyczące rozwoju dziecka.
      </p>

      <div class="icons">
        <span class="material-symbols-outlined">face</span>
        <span class="material-symbols-outlined">photo_camera</span>
        <span class="material-symbols-outlined">music_note</span>
        <span class="material-symbols-outlined">play_circle</span>
      </div>
    </div>
  </div>
</section>
