<app-sub-header header="Strefa rodzica"
                tekst="Strefa rodzica lorem ipsum"></app-sub-header>

<section class="strefa-rodzica">
<app-karta-informacyjna
  [buttonText]="'Więcej informacji o wyprawce'"
  [contentList]="wyprawka"
  [description]="'Przygotowanie dziecka na pierwszy dzień.'"
  [imageUrl]="'assets/wyprawka.jpg'"
  [title]="'Wyprawka'"
  [zdjeciePoLewej]=true>
</app-karta-informacyjna>

<app-karta-informacyjna
  [buttonText]="'Więcej informacji o cenniku'"
  [contentList]="cennik"
  [description]="'Pamietaj o terminach'"
  [imageUrl]="'assets/cennik.jpg'"
  [title]="'Cennik'"
  [zdjeciePoPrawej]=true>
</app-karta-informacyjna>

<app-karta-informacyjna
  [buttonText]="'Więcej informacji o posiłkach'"
  [contentList]="posilki"
  [description]="'Zbilansowana dieta dla Twojego dziecka.'"
  [imageUrl]="'assets/posilki.jpg'"
  [title]="'Posiłki'"
  [zdjeciePoLewej]=true>
</app-karta-informacyjna>

<app-karta-informacyjna
  [buttonText]="'Więcej informacji o przyprowadzaniu'"
  [contentList]="przyprowadzanie"
  [description]="'Zasady i harmonogram.'"
  [imageUrl]="'assets/przyprowadzenie.jpg'"
  [title]="'Przyprowadzanie dziecka do Przedszkola'"
  [zdjeciePoPrawej]=true>
</app-karta-informacyjna>

<app-karta-informacyjna
  [buttonText]="'Więcej informacji o odbiorze'"
  [contentList]="odbior"
  [description]="'Zasady odbioru dzieci.'"
  [imageUrl]="'assets/odbior.jpg'"
  [title]="'Odbiór dziecka z Przedszkola'"
  [zdjeciePoLewej]=true>
</app-karta-informacyjna>
</section>
