<app-sub-header header="Kontakt"
                tekst="Zapraszamy do kontaktu od poniedziałku do piątku w godzinach 9:00 – 18:00"></app-sub-header>

<section class="kontakt">
  <div class="container">
    <div class="kontakt-details">
      <div class="kontakt-details-row">
        <span class="icon material-symbols-outlined">phone</span>
        <h2>Telefon:</h2>
        <p> +48 509 58 22 11</p>
      </div>
      <div class="kontakt-details-row">
        <span class="icon material-symbols-outlined">email</span>
        <h2>Email:</h2>
        <p>przedszkole.kontakt@gwaizdeczka.pl</p>
      </div>
    </div>
  </div>
</section>


<app-placowki [czyWyswietlicMapy]="true"></app-placowki>
