<app-sub-header header="Kontakt"
                tekst="Zapraszamy do kontaktu od poniedziałku do piątku w godzinach 9:00 – 18:00"></app-sub-header>

<section class="kontakt">
  <div class="container">
    <div class="kontakt-details">
      <div class="kontakt-details-row">
        <span class="icon material-symbols-outlined">phone</span>
        <h3>Telefon:</h3>
        <h3> +48 509 58 22 11</h3>
      </div>
      <div class="kontakt-details-row">
        <span class="icon material-symbols-outlined">email</span>
        <h3>Email:</h3>
        <h3>przedszkole.kontakt@gwaizdeczka.pl</h3>
      </div>
    </div>
  </div>
</section>


<app-placowki [czyWyswietlicMapy]="true"></app-placowki>
