<section class="header">
  <div class="container">
    <div class="text-box">
      <h1 @fadeInUp>Gwiazdeczka <br> Przedszkole i Żłobek</h1>
      <div class="text-content">
        <p @fadeInUp>
          Jesteśmy placówką z pasją, która zapewnia dzieciom bezpieczne i przyjazne środowisko.
          Naszym celem jest wspieranie wszechstronnego rozwoju maluchów lorem lorem.
        </p>
        <a class="btn btn-light" routerLink="/" @fadeInUp>Formularz zgłoszeń</a>
        <a class="btn btn-dark" routerLink="/kontakt" @fadeInUp>Kontakt</a>
      </div>
    </div>
  </div>
</section>
