// Variables for color palette
$primary-color: #0A303A;
 $accent-color: #f7b948;
$background-color: #fff;
$highlight-color: #f39c12;
$shadow-color: rgba(0, 0, 0, 0.1);
$shadow-hover-color: rgba(0, 0, 0, 0.2);
.header {
  min-height: 70vh;
  background: linear-gradient(to bottom right, rgba(10, 48, 58, 0.5), rgba(10, 48, 58, 0.5)),
  url("/assets/banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;

  .text-box {
    margin: 150px 0 50px 0;

    h1 {
      font-size: 80px;
      color: #fff;
      margin-bottom: 20px;
      span{
        color: $accent-color !important;
      }
    }

    .text-content {
      max-width: 600px;

      p {
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
      }


    }
  }
}

@media (max-width: 800px) {
  .header {
    min-height: 50vh;


    .text-box {

      h1 {
        font-size: 38px;
      }
    }
  }
}
