<section class="header">
  <div class="container">
    <div class="text-box">
      <h1>Gwiazdeczka <br> Przedszkole i Żłobek</h1>
      <div class="text-content">
        <p>Jesteśmy placówką z pasją, która zapewnia dzieciom bezpieczne i przyjazne środowisko. Naszym celem jest wspieranie wszechstronnego rozwoju maluchów lorem lorem.</p>
        <a class="btn btn-light" routerLink="/">Formularz zgłoszeń</a>
        <a class="btn btn-dark" routerLink="/kontakt">Kontakt</a>

      </div>
    </div>
  </div>
</section>
