// Variables for color palette

.header {
  min-height: 70vh;
  background: linear-gradient(to bottom right, rgba(10, 48, 58, 0.5), rgba(43, 66, 72, 0.5)),
  url("../../../../../assets/banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;

  .text-box {
    margin: 120px 0 50px 0;

    h1 {
      font-size: 80px;
      color: #fff;
      margin-bottom: 20px;
      span{
        color:   var(--accent-color) !important;
      }
    }

    .text-content {
      max-width: 600px;

      p {
        font-weight: 500;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
      }


    }
  }
}

@media (max-width: 800px) {
  .header {
    min-height: 50vh;


    .text-box {

      h1 {
        font-size: 38px;
      }
    }
  }
}
