<section class="header">
  <div class="container">
    <div class="text-box">
      <h1><span>Gwiazdeczka</span> <br> Razem odkrywamy świat!</h1>
      <div class="text-content">
        <p>Jesteśmy placówką z pasją, która zapewnia dzieciom bezpieczne i przyjazne środowisko. Naszym celem jest wspieranie wszechstronnego rozwoju maluchów poprzez zabawę, kreatywne zajęcia oraz indywidualne podejście.</p>
        <a class="btn btn-dark" href="#">Dowiedz się więcej</a>
      </div>
    </div>
  </div>
</section>
